@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-space-grotesk), sans-serif;  /* Шрифт для тіла */
}

/* Можна додати стилі для інших елементів, якщо потрібно */
h1, h2, h3, p {
  font-family: var(--font-mohave), sans-serif;  /* Шрифт для заголовків */
}
